@model List<ResultsFullDetails>
@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

<table class="table table-hover table-bordered">
    <tr>
        <td>Trainee Name</td>
        <td>Course Name</td>
        <td>Course Degree</td>
        <td>Course Min Degree</td>
        <td>Trainee Degree</td>
    </tr>
    @foreach(var r in Model)
    {
        <tr>
            <td>@r.TraineeName</td>
            <td>@r.CourseName</td>
            <td>@r.CourseDegree</td>
            <td>@r.CourseMinDegree</td>
            <td style="color:@r.color">@r.TraineeDegree</td>
        </tr>
    }
</table>